<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Menú</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='StyleLogin.css') }}">
</head>
<body>
    <h1>Bienvenido al examen de inglés, {{ nombre }}</h1>

    <form action="/iniciar_examen/practica" method="GET">
        <button type="submit" {% if intentos_practica == 0 %}disabled{% endif %}>Presentar examen de práctica</button>
    </form>

    <form action="/iniciar_examen/final" method="GET">
        <button type="submit" {% if intentos_final == 0 %}disabled{% endif %}>Presentar examen final</button>
    </form>

    <p>Intentos restantes:</p>
    <ul>
        <li>Práctica: {{ intentos_practica }}</li>
        <li>Final: {{ intentos_final }}</li>
    </ul>

    <a href="/logout">Cerrar sesión</a>
</body>
</html>